# --- Build / Maven ---
##target/
!.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties

# --- Java ---
*.class
*.jar
*.war
*.ear

# --- Logs / SO ---
*.log
.DS_Store
Thumbs.db

# --- IntelliJ / IDEA ---
.idea/
*.iml
out/

# --- VS Code ---
.vscode/

# --- Otros ---
.env
