services:
  - type: web
    name: proyecto-gym
    env: java
    buildCommand: >
      apt-get update && apt-get install -y openjdk-17-jdk &&
      chmod +x mvnw &&
      ./mvnw clean package -DskipTests
    startCommand: >
      java -Dserver.port=$PORT -Dspring.profiles.active=prod
      -jar target/ProyectoGym-0.0.1-SNAPSHOT.jar
    envVars:
      - key: JAVA_VERSION
        value: 17
      - key: MAVEN_OPTS
        value: -Xmx512m
